body {
    padding-top: 800px;
    margin: 0;
    background-color: antiquewhite;
}

.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0.83;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 8;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: inherit;
}

#firstP {
    text-align: center;
    font-size: 30px;
}

#H1 {
    text-align: center;
    font-size: 32px;

}

.menu {
    list-style: none;
    font-family: cursive;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
    font-size: 30px;
}

.links {
    float: left;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;

}

.links:hover {
    background-color: dodgerblue;
}

#name {
    font-family: 'Cinzel', serif;
    font-size: 17px;
}

a {
    text-decoration: none;
}

.article:hover {
    color: chocolate;
}

html {
    scroll-behavior: smooth;
}
